@charset "UTF-8";
.menu {
  background-color: #292c2f;
  padding: 1.5rem 3rem;
  height: auto;
  position: relative;
  z-index: 10;
}

@media only screen and (min-width: 40.063em) {
  .menu {
    height: 5rem;
  }
  .menu .inline-list {
    float: left;
    margin: 0 0 0 1.5rem;
  }
  .menu a:hover {
    border-bottom: 2px solid #87d37c;
  }
}
.name {
  text-align: center;
  font-size: 1.5rem;
  line-height: 1;
  margin: 0 0 1rem 0;
  color: #fff;
}
.name i {
  color: #87d37c;
  margin-right: 0.5rem;
}

.logo {
  max-width: 50px;
  float: left;
  margin: 0 20px 0 -20px;
}

@media only screen and (min-width: 40.063em) {
  .name {
    float: left;
  }
}
.row {
  max-width: 1200px;
}

.footer {
  background-color: #292c2f;
  text-align: center;
  font-size: 1.2rem;
  padding: 1rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}
.footer .social a {
  display: inline-block;
  width: 2rem;
  height: 2rem;
  background-color: #33383b;
  border-radius: 2px;
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
  line-height: 2rem;
  margin: 0 3px 0 0;
}
.footer .copywrite {
  color: #8f9296;
  font-size: 0.875rem;
  margin: 1rem 0 1rem 0;
}
.footer .footer-form textarea, .footer .footer-form input {
  border-radius: 3px;
  background-color: #1f2022;
  box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
  border: none;
  resize: none;
  font: inherit;
  font-size: 0.875rem;
  font-weight: normal;
  color: #d1d2d2;
  padding: 1.3rem;
}
.footer .footer-form label {
  color: #fff;
  font-size: 1.2rem;
  margin: 0 0 1rem 0;
  font-weight: bold;
}
.footer .footer-form .submit {
  border-radius: 3px;
  background-color: #33383b;
  color: #ffffff;
  border: 0;
  padding: 1rem 3.5rem;
  font-weight: bold;
  float: right;
  margin: 0 1rem 2rem 0;
}
.footer .footer-links a {
  list-style: none;
  font-weight: normal;
  color: #fff;
  padding: 3rem 0 2rem;
  margin: 0;
  font-size: 0.875rem;
}
.footer .footer-links a::after {
  content: "•";
  padding: 0 0.2rem 0 0.4rem;
}
.footer .footer-links a:last-child::after {
  content: "";
  padding: 0 0.4rem 0 0.8rem;
}

@media only screen and (min-width: 40.063em) {
  .footer {
    padding: 2rem 4rem 0rem 4rem;
  }

  .footer p {
    text-align: left;
  }

  .footer .social {
    text-align: left;
    margin: 0;
  }

  .footer .footer-form .contact {
    position: absolute;
    left: -45%;
    top: 10%;
  }
}
.logo {
  color: #fff;
  font-size: 1.5rem;
}
.logo i {
  margin-right: 0.5rem;
}

.inner-wrap {
  width: auto;
  height: 100%;
}

.move-right .inner-wrap {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  margin-left: 114px;
}

.left-off-canvas-menu {
  -ms-transform: none;
  -webkit-transform: none;
  -moz-transform: none;
  -ms-transform: none;
  -o-transform: none;
  transform: none;
  position: fixed;
  width: 0;
  height: 100%;
  padding-top: 80px;
  z-index: 1;
}

.move-right .left-off-canvas-menu {
  width: 114px;
}

.move-right .exit-off-canvas {
  display: none;
}

.left-off-canvas-toggle {
  display: none;
  margin-top: 1rem;
  margin-left: 1rem;
  font-size: 3rem;
  color: #333;
  transition: all .25s ease-in-out;
}
.left-off-canvas-toggle:focus {
  color: #333;
}
.left-off-canvas-toggle:hover {
  color: #8c8c8c;
  transition: all .25s ease-in-out;
}

.current {
  background-color: darkolivegreen;
}

.item {
  width: 76% !important;
}

.ad-block {
  margin-bottom: 2rem;
}

.callout-card {
  background: #fff;
  border: 1px solid #333;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem 0;
  overflow: hidden;
}
.callout-card .card-label {
  border-color: transparent #333 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #333 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.callout-card.primary {
  border-color: #446CB3;
}
.callout-card.primary .card-label {
  border-color: transparent #446CB3 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #446CB3 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.callout-card.secondary {
  border-color: #ADB2BD;
}
.callout-card.secondary .card-label {
  border-color: transparent #ADB2BD transparent transparent;
  border-color: rgba(255, 255, 255, 0) #ADB2BD rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.callout-card.info {
  border-color: #89c4f4;
}
.callout-card.info .card-label {
  border-color: transparent #89c4f4 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #89c4f4 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.callout-card.alert {
  border-color: #F22613;
}
.callout-card.alert .card-label {
  border-color: transparent #F22613 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #F22613 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.callout-card.success {
  border-color: #87D37C;
}
.callout-card.success .card-label {
  border-color: transparent #87D37C transparent transparent;
  border-color: rgba(255, 255, 255, 0) #87D37C rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.callout-card.warning {
  border-color: #F89406;
}
.callout-card.warning .card-label {
  border-color: transparent #F89406 transparent transparent;
  border-color: rgba(255, 255, 255, 0) #F89406 rgba(255, 255, 255, 0) rgba(255, 255, 255, 0);
}
.callout-card .card-label {
  border-style: solid;
  border-width: 0 70px 40px 0;
  float: right;
  height: 0px;
  width: 0px;
  transform: rotate(360deg);
}
.callout-card .callout-card-content {
  padding: 0.5rem 1.5rem 0.875rem;
}
.callout-card.radius {
  border-radius: 0.6rem;
}
.callout-card .label-text {
  color: #fff;
  font-size: 0.75rem;
  font-weight: bold;
  position: relative;
  right: -40px;
  top: 2px;
  white-space: nowrap;
  transform: rotate(30deg);
}

.card-title {
  padding-left: 15px !important;
}

.back-card {
  background: #f2f2f2 !important;
}

.hero {
  background: url("https://images7.alphacoders.com/330/330811.jpg") no-repeat center center;
  background-size: cover;
  height: 50vh;
  overflow: hidden;
}

.row {
  max-width: 1600px;
}

body {
  font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
  font-weight: 200;
  font-size: 20px;
  min-height: 670px;
  background: #000000 url("http://localhost:3000/assets/img/warp.jpg");
  background-size: 100% 100%;
}

.parallax-background {
  background-color: #0078A0;
  height: 620px;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  position: fixed;
  width: 100%;
}

.intro-text {
  font-size: 50px;
  color: #fff;
  text-align: center;
  margin-top: 15%;
}

.parallax-content {
  max-width: 100%;
  position: relative;
  top: 500px;
  padding: 50px;
  font-size: 20px;
  background-color: #fff;
}

.cover {
  background: rgba(0, 0, 0, 0.8);
  margin-top: 5%;
  border-radius: 20px;
}

.text-center {
  margin: 3% 0 3% 0;
  font-size: 100px;
  text-shadow: 5px 4px 5px #4F9913, 13px 14px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: -2px;
  line-height: 1;
  color: #ffffff;
  font-weight: 500;
}

.h2-center {
  margin: 3% 0 3% 0;
  text-shadow: 5px 4px 5px #4F9913, 13px 14px 0px rgba(0, 0, 0, 0.15);
  letter-spacing: -2px;
  line-height: 2;
  color: #ffffff;
  font-weight: 500;
}

.welcome-block {
  padding-top: 15px;
  text-align: center;
}
.welcome-block h1 {
  font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
  font-weight: 100;
  font-size: 2.5rem;
  color: white;
}
.welcome-block .inline-list {
  text-align: center;
}
.welcome-block .inline-list li {
  float: none;
  display: inline-block;
}
.welcome-block .inline-list a {
  color: #fff;
  padding-bottom: 0.5rem;
}
.welcome-block .inline-list a:hover {
  color: #87d37c;
  transition: all .3s ease-in-out;
}
.welcome-block .inline-list .active a {
  color: #87d37c;
}
.welcome-block .account {
  position: relative;
  top: 3%;
  right: 3%;
}
.welcome-block .account a, .welcome-block .account i {
  color: #fff;
}
.welcome-block .account-action {
  margin-left: auto;
  margin-right: auto;
}
.welcome-block .account-action li {
  margin-left: .2rem;
}
.welcome-block .account-action a {
  padding: 0.75rem 1rem;
}
.welcome-block .account-action a.signup {
  font-weight: bold;
  background-color: #3d4146;
  border-radius: 3px;
}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background-size: cover;
  transition: 1s opacity;
}

.backBlock {
  position: static;
  width: 700px;
  height: 300px;
  z-index: 10;
  margin: 200px auto 0px auto;
  background: gray;
}

@media only screen and (min-width: 40.063em) {
  .welcome-block {
    height: 12rem;
  }
  .welcome-block .inline-list {
    float: none;
    margin: 0 0 0 1.5rem;
  }
  .welcome-block a:hover {
    border-bottom: 2px solid #87d37c;
  }
}
.center.row {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 500px;
}

.signup-panel {
  padding: 15px;
}
.signup-panel i {
  font-size: 30px;
  line-height: 50px;
  color: #999;
}
.signup-panel form input, .signup-panel form span {
  height: 50px;
}
.signup-panel .welcome {
  font-size: 26px;
  text-align: center;
  margin-left: 0;
}
.signup-panel .button {
  margin-left: 35%;
}

section.active {
  padding-top: 75px !important;
}

p.title {
  border-bottom: 1px solid #cccccc !important;
}

.content {
  height: 450px;
}

/*# sourceMappingURL=style.css.map */
