@import "_menu";
@import "_footer";
@import "_sidebar";
@import "_home";
@import "_users";
@import "_project";
@import "_forum";

@charset "UTF-8";

.hero {
    background: url("https://images7.alphacoders.com/330/330811.jpg") no-repeat center center;
    background-size: cover;
    height: 50vh;
    overflow: hidden; 
}

.row {
    max-width: 1600px; 
}

body {
	font-family: "Open Sans", "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif !important;
	font-weight: 200;
	font-size: 20px;
    min-height: 670px;
    background: #000000 url('http://localhost:3000/assets/img/background-images/background-imager/Elegant_Background-7.jpg');
}

.parallax-background {
	background-color: #0078A0;
	height: 620px;
	background-repeat: no-repeat;
	-webkit-background-size: cover;
  	-moz-background-size: cover;
  	-o-background-size: cover;
	background-size: cover;
	position: fixed;
	width: 100%;
}

.intro-text {
	font-size: 50px;
	color: #fff;
	text-align: center;
	margin-top: 15%;
}

.parallax-content {
	max-width: 100%;
	position: relative;
	top: 500px;
	padding: 50px;
	font-size: 20px;
	background-color: #fff;
}

.cover {
    background: rgba(0,0,0,0.8);
    margin-top: 5%;
    border-radius: 20px;
}

.text-center {
    margin: 3% 0 3% 0;
    font-size: 100px;
    text-shadow: 2px 4px 1px #111D07, 0px 0px 0px rgba(0, 0, 0, 0.50);
    letter-spacing: -2px;
    line-height: 1;
    color: #82B8A7;
    font-weight: 500;
}

.h2-center {
    margin: 3% 0 3% 0;
    text-shadow: 2px 4px 1px #111D07, 0px 0px 0px rgba(0, 0, 0, 0.50);
    letter-spacing: -2px;
    line-height: 2;
    color: #82B8A7;
    font-weight: 500;
}

.welcome-block {
    padding-top: 15px;
    text-align: center;
    h1 {
        font-family: Agenda-Light, Agenda Light, Agenda, Arial Narrow, sans-serif;
        font-weight:100; 
        font-size: 2.5rem;
        color: white;
    }
    .inline-list {
        text-align: center;
        li {
            float: none;
            display: inline-block; 
        }
        a {
            color: #fff;
            padding-bottom: 0.5rem; 
        }
        a:hover {
            color: #87d37c;
            transition: all .3s ease-in-out; 
        }
        .active a {
            color: #87d37c; 
        }
    }
    .account {
        position: relative;
        top: 3%;
        right: 3%;
        a, i {
            color: #fff; 
        }
    }
    .account-action {
        margin-left: auto;
        margin-right: auto;
        li {
            margin-left: .2rem; 
        }
        a {
            padding: 0.75rem 1rem; 
        }
        a.signup {
            font-weight: bold;
            background-color: #3d4146;
            border-radius: 3px; 
        }
    }
}

video { 
    position: fixed;
    top: 50%;
    left: 50%;
    min-width: 100%;
    min-height: 100%;
    width: auto;
    height: auto;
    z-index: -100;
    transform: translateX(-50%) translateY(-50%);
    background-size: cover;
    transition: 1s opacity;
}

.backBlock {
    position: static;
    width: 700px;
    height: 300px;
    z-index: 10;
    margin: 200px auto 0px auto;
    background: gray;
}

@media only screen and (min-width: 40.063em) {
    .welcome-block {
        height: 12rem;
        .inline-list {
            float: none;
            margin: 0 0 0 1.5rem; 
        }
        a:hover {
            border-bottom: 2px solid #87d37c; 
        } 
    } 
}

.center.row {
  height: 300px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5%;
  max-width: 500px;
}

.signup-panel {
  padding: 15px;
  i {
    font-size: 30px;
    line-height: 50px;
    color: #999;
  }
  form {
    input, span {
      height: 50px;
    }
  }
  .welcome {
    font-size: 26px;
    text-align: center;
    margin-left: 0;
  }
  .button {
    margin-left: 35%;
  }
}

section.active {
  padding-top: 75px !important;
}

p.title {
  border-bottom: 1px solid #cccccc !important;
}