<video width="100%" height="100%" autoplay loop muted>
    <source src="assets/videos/pinkfloyd.mp4" type="video/mp4">
    Your browser does not support the video tag.
</video>

<div class="cover row">
    <div class="welcome-block five columns centered">
        <h1>Welcome to the intranet</h1><br>
        <ul class="inline-list hide-for-small-only account-action">
            <li><a href="#" ng-click="fuck()" data-reveal-id="myModal">Login</a></li>
            <li class=""><a class="signup" href="#" data-reveal-id="myModal2">Signup</a></li>
        </ul>
    </div>
</div>


<!-- modal content -->

<div id="myModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="login" aria-hidden="true" role="dialog">
    <div class="center row">
        <div class="section-container tabs" data-section="tabs">
            <section>
              <div class="content" data-section-content>
                <p>
                  <div class="row">
                    <div class="large-12 columns">
                      <div class="signup-panel">
                        <p class="welcome" ng-show="!confirmAuth">Welcome back!</p>
                        <p class="welcome" ng-show="confirmAuth">Please log in to confirm your registration</p> 
                        <form name="loginForm" novalidate>
                          <div class="row collapse">
                            <div class="small-2 columns">
                              <span class="prefix"><i class="fi-mail"></i></span>
                            </div>
                            <div class="small-10  columns">
                              <input type="text" name="username" ng-model="username" placeholder="Email" required>
                            </div>
                          </div>
                          <div class="row collapse">
                            <div class="small-2 columns ">
                              <span class="prefix"><i class="fi-lock"></i></span>
                            </div>
                            <div class="small-10 columns ">
                              <input type="password" name="password" ng-model="password" placeholder="Password" required>
                            </div>
                          </div>
                        </form>
                        <button ng-disabled="loginForm.username.$error.required || loginForm.password.$error.required" 
                                ng-click="logIn(username, password)" class="button ">Log in</button>
                          <span style="color:red" ng-show="authError">
                            <span>Email/password are incorrect</span>
                          </span>
                      </div>
                    </div>
                   </div></p>
              </div>
            </section>
        </div>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="myModal2" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
          <div class="content" data-section-content>
            <p>
              <div class="row">
                <div class="large-12 columns">
                  <div class="signup-panel">
                    <p class="welcome">Hello, new user!</p>
                    <form name="registerForm" novalidate>
                      <div class="row collapse">
                        <span style="color:red" ng-show="registerForm.username.$dirty && registerForm.username.$invalid">
                            <span ng-show="registerForm.username.$error.required">Username is required</span>
                        </span>
                        <div class="small-2  columns">
                          <span class="prefix"><i class="fi-torso"></i></span>
                        </div>
                        <div class="small-10  columns">
                            
                          <input type="text" name="username" ng-model="username" placeholder="Username" required>
                            
                        </div>
                      </div>
                      <div class="row collapse">
                        <span style="color:red" ng-show="registerForm.email.$dirty && registerForm.email.$invalid">
                            <span ng-show="registerForm.email.$error.required">Email is required</span>
                            <span ng-show="registerForm.email.$error.email">Invalid email address</span>
                        </span>
                        <div class="small-2 columns">
                          <span class="prefix"><i class="fi-mail"></i></span>
                        </div>
                        <div class="small-10  columns">
                            
                          <input type="email" name="email" ng-model="email" placeholder="Email" required>
                            
                        </div>
                      </div>
                      <div class="row collapse">
                        <span style="color:red" ng-show="registerForm.password.$modelValue.length === 0">
                            <span ng-show="registerForm.password.$modelValue.length === 0">Password is required</span>
                        </span>
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                            
                          <input type="password" name="password" ng-model="password" placeholder="Password">
                            
                        </div>
                      </div>
                      <div class="row collapse">
                        <span style="color:red" ng-show="registerForm.confirm.$dirty">
                            <span ng-show="registerForm.confirm.$modelValue.length === 0">Please confirm password</span>
                            <span ng-show="registerForm.password.$modelValue != registerForm.confirm.$modelValue">Passwords don't match</span>
                        </span>
                        <div class="small-2 columns ">
                          <span class="prefix"><i class="fi-lock"></i></span>
                        </div>
                        <div class="small-10 columns ">
                          
                          <input type="password" name="confirm" ng-model="confirm" placeholder="Confirm password">
                            
                        </div>
                      </div><br><br>
                        <button ng-disabled="
                                registerForm.username.$error.required ||
                                registerForm.email.$error.required    ||
                                registerForm.email.$error.email       ||
                                registerForm.password.$error.required ||
                                registerForm.confirm.$error.required  ||
                                registerForm.password.$modelValue != registerForm.confirm.$modelValue"
                                ng-click="register(username, email, password, confirm)" class="button">
                            Sign Up</button>
                    </form>
                    <span style="color:red" ng-show="regError">
                        Registration error!
                    </span>
                  </div>
                </div>
               </div></p>
          </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript"> 
            $(document).foundation();
</script>

