<link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">

<footer class="footer">
  <div class="row">
    <div class="small-12 medium-6 medium-push-6 columns">
      <p class="logo show-for-small-only"><i class="fi-target"></i> Intranet Ecole 42</p> 
      <form class="footer-form" name="emailForm" novalidate>
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <label for="email" class="contact">Contact Us</label>
              <input type="email" name="sender" ng-model="sender" id="email" placeholder="Email Address" required/>
            </label>
          </div>
        </div>
        <div class="row">
          <div class="medium-9 medium-push-3 columns">
            <label>
              <textarea rows="5" name="text" ng-model="text" id="message" placeholder="Message" required></textarea>
            </label>
          </div>
          <div class="row">
            <div class="medium-9 medium-push-3 columns">
              <button ng-disabled="emailForm.sender.$error.required || emailForm.text.$error.required"
                      ng-click="sendEmail(sender, 'new contact', text)" value="Submit">Send</button>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
        <h1 class="name">Intranet Ecole 42</h1> 
    </div>
    <div class="small-12 medium-6 medium-pull-6 columns">
      <p class="copywrite">Copywrite not copywrite © 2015</p>
    </div>
  </div>
</footer>