<div class="row" style="padding-left: 341px;
                            top: 130px;
                            position: absolute;
                            z-index: 0;">
      <div class="callout-card radius primary medium-12 medium-pull-12 columns back-card">
        <br>
        <h2 style="padding-left:15px;">{{ fetchPost() }} {{ threads[postId].title }}</h2>
        <br>
        <a class="backToList" ui-sref="forum">Go back to list</a>

        <link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/icomoon-uikit-feb.css" rel="stylesheet">
          <div class="large-12 columns">
 
      <!-- Feed Entry -->
      <div class="row">
        <div class="large-2 columns small-3"><img src="http://placehold.it/80x80&text=[img]" /></div>
        <div class="large-10 columns">
          <p><strong>{{ threads[postId].creator }}:</strong> {{ threads[postId].body }}<br>
          <cite style="font-size:small;">Posted on {{ threads[postId].created | date:'medium'}}</cite>
          </p>
          <a class="replyButton" ng-click="openBodyCommentBox()">Comment</a>
          <br>
          <h6><ng-pluralize count="threads[postId].bodyComments.length"
                 when="{'0': 'No comment yet.',
                     '1': '1 comment.',
                     'other': '{} comments.'}">
</ng-pluralize></h6>
            
          <div class="row" ng-repeat="comment in threads[postId].bodyComments">
            <div class="large-2 columns small-3"><img src="http://placehold.it/50x50&text=[img]" /></div>
            <div class="large-10 columns">
                <p><strong>{{ comment.author }}:</strong> {{ comment.replyBody }}<br>
                <cite style="font-size:small;">Posted on {{ comment.created | date:'medium'}}</cite></p></div><br><br>
              
          </div>
            
          <form ng-show="isBodyCommentOpen === true" name="bodycommentForm" novalidate>           
              <div class="row">
                <label>write your comment Here
                </label>
                <div class="row collapse">
                    <div class="small-11 columns">
                      <textarea name="bodyComment" ng-model="bodyComment" placeholder="Type a few words..." required></textarea>
                    </div>
                    <div class="small-1 columns">
                      <a ng-disabled="bodycommentForm.bodyComment.$error.required" ng-click="postComment( userInfo.username, bodyComment, postId)" class="button postfix">go</a>
                    </div>
                </div>
          </form>
              
        </div>
        <hr />
        <div class="large-12 columns small-3">
            <form name="threadForm" novalidate>           
              <div class="row">
                <label>Post your response Here
                </label>
                <div class="row collapse">
                    <div class="small-11 columns">
                      <textarea name="body" ng-model="body" placeholder="Type a few words..." required></textarea>
                    </div>
                    <div class="small-1 columns">
                      <a href="#" class="button postfix">go</a>
                    </div>
                </div>
            </form>
        </div>
      </div>
      <!-- End Feed Entry -->
    </div>        
  </div>
</div>