<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<div class="off-canvas-wrap move-right" style="overflow: visible;" data-offcanvas>
    <div class="inner-wrap">

    <sidebar-admin ng-if="userInfo.is_admin"></sidebar-admin>
    <sidebar-user ng-if="!userInfo.is_admin"></sidebar-user>

    <!-- main content goes here -->
    <div class="row">
        <div class="large-12 columns">
          <div class="panel">
            <h1>Forum {{ setUsername(userInfo.username) }}</h1>
          </div>
        </div>
    </div>
    
    <div class="row forum-column">
      <div>
        <button class="button small radius" href="#" data-reveal-id="forumModal">Create a category</button>
        <br> 
        <ul class="accordion" data-accordion ng-repeat="category in categoriesCopy">
            <li class="accordion-navigation" id="top">
                <a href="#panel1{{category.id}}" ng-click="moveTop();">{{ category.name }} <i ng-click="removeCategory(category.name)" class="fi-x"></i></a>
                <div id="panel1{{category.id}}" class="content">
                    <ul>
                        <li style="background:none;content:none" class="accordion-navigation" ng-repeat="subcategory in category.subCategories">
                            <a>{{ subcategory.name }} <i ng-click="removeSubcategory(category.name, subcategory.name)" class="fi-x"></i>    <i ng-click="modifySubcategory(category.name, subcategory.name)" class="fi-pencil"></i></a>
                        </li>
                    </ul>
                    <br>
                    <button class="button small radius subcategory" 
                            data-reveal-id="categoryModal" 
                            ng-click="setScope(category.name)">Create a sub-category</button>
                </div>
            </li>
        </ul>
        <br>
      </div>
    </div>
    <div ui-view></div>
    <!-- close the off-canvas menu -->
    <a class="exit-off-canvas"></a>

  </div>
</div>

<div id="forumModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
          <div class="content" data-section-content>
            <p>
              <div class="row">
                <div class="large-12 columns">
                  <div class="signup-panel">
                    <p class="welcome">Create category</p>
                    <form name="categoryForm" novalidate>
                      
                      <div class="row collapse">
                        <p>Name</p>
                        <div class="small-10  columns">     
                          <input type="text" name="name" ng-model="name" required>   
                        </div>
                      </div>
        
                      <br><br>
                      <button ng-disabled="categoryForm.name.$error.required" ng-click="createCategory(name)" class="button">
                            Create
                      </button>
                    </form>
                    <span style="color:red" ng-show="regError">
                        Category creation error!
                    </span>
                  </div>
                </div>
               </div></p>
          </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="categoryModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
          <div class="content" data-section-content>
            <p>
              <div class="row">
                <div class="large-12 columns">
                  <div class="signup-panel">
                    <p class="welcome">Create subcategory in {{ scopeName }}</p>
                    <form name="subcategoryForm" novalidate>
                      
                      <div class="row collapse">
                        <p>Name</p>
                        <div class="small-10  columns">     
                          <input type="text" name="name" ng-model="name" required>   
                        </div>
                      </div>
        
                      <br><br>
                      <button ng-disabled="subcategoryForm.name.$error.required" ng-click="createSubCategory(name, scopeName)" class="button">
                            Create
                      </button>
                    </form>
                    <span style="color:red" ng-show="regError">
                        Subcategory creation error!
                    </span>
                  </div>
                </div>
               </div></p>
          </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript"> 
            $(document).foundation();
</script>