<div class="row" style="padding-left: 341px;
                            top: 130px;
                            position: absolute;
                            z-index: 0;">
    <div class="callout-card radius primary medium-12 medium-pull-12 columns back-card">
        <br>
        <h2 style="padding-left:15px;">{{ fetchPost() }} {{ threads[postId].title }}</h2>
        <br>
        <a class="backToList" ui-sref="forum">Go back to list</a>

        <link href="https://s3-us-west-2.amazonaws.com/s.cdpn.io/6035/icomoon-uikit-feb.css" rel="stylesheet">
        <div class="large-12 columns">
            <!-- Feed Entry -->
            <div class="row">
                <div class="large-12 columns">
                    <div class="large-1 small-1 columns">
                        <img src="http://placehold.it/80x80&text=[img]" />
                    </div>
                    <p>
                        <strong>{{ threads[postId].creator }}:</strong> {{ threads[postId].body }}<br>
                        <cite style="font-size:small;">Posted on {{ threads[postId].created | date:'medium'}}</cite>
                    </p>
                    <div class="large-3 small-3 columns commentLink">
                        <a class="replyButton" ng-click="openBodyCommentBox()">Comment</a>
                    </div>
                    <br>
                    <div class="large-3 small-3 columns commentLink">
                        <h6>
                            <ng-pluralize count="threads[postId].bodyComments.length"
                                          when="{'0': 'No comment yet.',
                                                '1': '1 comment.',
                                                'other': '{} comments.'}">
                            </ng-pluralize>
                        </h6>
                    </div>
                    <br><br>
                    <div class="row" ng-repeat="comment in threads[postId].bodyComments">
                        <div class="large-2 columns small-2">
                            <img style="float:right;" src="http://placehold.it/50x50&text=[img]" />
                        </div>
                        <div class="large-10 columns">
                            <p><strong>{{ comment.author }}:</strong> {{ comment.replyBody }}<br>
                                <cite style="font-size:small;">Posted on {{ comment.created | date:'medium'}}</cite>
                            </p>
                        </div>
                        <br>
                        <br>
                    </div>  
                    <div class="row">
                        <form ng-show="isBodyCommentOpen === true" name="bodycommentForm" novalidate>
                            <div class="row collapse">
                                <div class="large-10 small-10 large-offset-1 small-offset-1 columns">
                                    <textarea id="commentBox" name="bodyComment" ng-model="bodyComment" placeholder="Type a few words..." required></textarea>
                                </div>
                                <div class="large-1 small-1 columns">
                                    <a ng-disabled="bodycommentForm.bodyComment.$error.required" ng-click="postComment( userInfo.username, bodyComment, postId)" class="button postfix">go</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                
                
                <div class="large-12 columns" ng-repeat="reply in threads[postId].comments">
                    <hr />
                    <div class="large-1 small-1 columns">
                        <img src="http://placehold.it/80x80&text=[img]" />
                    </div>
                    <p>
                        <strong>{{ reply.author }}:</strong> {{ reply.commentBody }}<br>
                        <cite style="font-size:small;">Posted on {{ reply.created | date:'medium'}}</cite>
                    </p>
                    <div class="large-3 small-3 columns commentLink">
                        <a class="replyButton" ng-click="openCommentBox($index)">Comment</a>
                    </div>
                    <br>
                    <div class="large-3 small-3 columns commentLink">
                        <h6>
                            <ng-pluralize count="reply.replies.length"
                                          when="{'0': 'No comment yet.',
                                                '1': '1 comment.',
                                                'other': '{} comments.'}">
                            </ng-pluralize>
                        </h6>
                    </div>
                    <br><br>
                    <div class="row" ng-repeat="comment in reply.replies">
                        <div class="large-2 columns small-2">
                            <img style="float:right;" src="http://placehold.it/50x50&text=[img]" />
                        </div>
                        <div class="large-10 columns">
                            <p>
                                <strong>{{ comment.author }}:</strong> {{ comment.replyBody }}<br>
                                <cite style="font-size:small;">Posted on {{ comment.created | date:'medium'}}</cite>
                            </p>
                        </div>
                        <br>
                        <br>
                    </div>
                    <div class="row">
                        <form ng-show="isCommentOpen === $index" name="bodycommentForm" novalidate>
                            <div class="row">
                                <div class="row collapse">
                                    <div class="large-10 small-10 large-offset-1 small-offset-1 columns">
                                        <textarea id="replyComment" name="bodyComment" ng-model="bodyComment" placeholder="Type a few words..." required></textarea>
                                    </div>
                                    <div class="large-1 small-1 columns">
                                        <a ng-disabled="bodycommentForm.bodyComment.$error.required" ng-click="postReplyComment(userInfo.username, bodyComment, postId, $index)" class="button postfix">go</a>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>
                    <!-- End Feed Entry -->
                <hr/>
                <div class="large-12 columns small-3">
                    <form name="replyForm" novalidate>           
                        <div class="row">
                            <label>Post your response Here
                            </label>
                            <div class="row collapse">
                                <div class="small-11 columns">
                                    <textarea id="replyBody" name="replyBody" ng-model="replyBody" placeholder="Type a few words..." required></textarea>
                                </div>
                                <div class="small-1 columns">
                                    <a ng-disabled="replyForm.replyBody.$error.required" ng-click="postReply(userInfo.username, replyBody, postId)" class="button postfix">go</a>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>