<!-- this adds Foundation Icon Fonts!! -->
     <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                <h1>Student list {{ setUsername(userInfo.username) }}</h1>
                </div>
            </div>
        </div>
        
        <link href="http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css" rel="stylesheet">



	<div class="row">
  <div class="small-6 small-centered columns">
    

    <div class="alert-box alert radius">
      <strong>Error</strong> - no results found.
      <a ng-click="closeAlert()">&times;</a>
    </div>
  </div>
	</div>

    <nit-advanced-searchbox
    ng-model="search"
    placeholder="Search...">
        
</nit-advanced-searchbox>

<div class="loading-eye" ng-hide="isLoaded">
            
    <img src="http://localhost:3000/assets/img/eye.gif">
    <br>
    <div class="shake-slow shake-constant stuff" >You cannot hide from me</div>
</div>

<div class="row corpus" ng-show="isLoaded">
    <div class="large-12 columns" style="text-align:center;">
        <ul class="button-group toggle" data-toggle="buttons-radio">
          <li ng-repeat="curs in cursus">
            <input type="radio" id="r{{$index+1}}" name="r-group" data-toggle="button">
            <label ng-click="getCursusUsers(curs.slug)" class="button secondary" for="r{{$index+1}}">{{ curs.slug }}</label>
          </li>
        </ul>

    </div>
     <div class="large-12 columns">
        <ul style="text-align:center;" class="small-block-grid-4 medium-block-grid-6 large-block-grid-8" infinite-scroll='loadMore()' infinite-scroll-distance='2'>
            <li class="pics" ng-repeat="student in profiles">
                <a ng-href="profiles/user/{{student.login}}">
                <div class="service" >
                  <div class="service-icon-box">
                    <img src="https://cdn.intra.42.fr/userprofil/{{ student.login }}.jpg" alt="" class="service-icon">
                  </div>
                  <h4 class="service-heading">{{ student.login }}</h4>
                </div>
                </a>
            </li>
        </ul>
    </div>
</div>
<script type="text/javascript"> 
            $(document).foundation();
</script>