<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<div class="off-canvas-wrap move-right" data-offcanvas>
    <div class="inner-wrap">

        <sidebar-admin ng-if="userInfo.is_admin"></sidebar-admin>
        <sidebar-user ng-if="!userInfo.is_admin"></sidebar-user>

        <!-- main content goes here -->

        <div class="row">
            <div class="large-12 columns">
                <div class="panel">
                    <h1>Projects {{ setUsername(userInfo.username) }}</h1>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="callout-card radius primary medium-12 medium-pull-12 columns back-card">
                <br>
                <h2 style="padding-left:15px;">Available modules</h2>
                <!--          <button ng-if="userInfo.is_admin" href="#" data-reveal-id="projectModal">{{ 'CREATEPROJECT' | translate }}</button>-->
                <br>

                <div class="large-12 medium-12 small-12 columns">
                    <div class="panel callout radius large-12 medium-12 small-12 columns end" ng-repeat="project in projects">
                        <div class="callout-card-content">
                            <h3 class="lead">{{ project.name }}</h3>
                            <p>Registration opens : {{ project.registration_start | date:'medium'}} and closes : {{ project.registration_end | date:'medium'}}</p>
                            <p>Module begins : {{ project.start | date:'medium'}} and ends : {{ project.deadline | date:'medium'}}</p>
                            <p>Max students : {{ project.max_size }} | Credits : {{ project.credits }}</p>
                            <p>Description : {{ project.description }}</p>
                        </div>
                        <!--
                <button ng-if="userInfo.is_admin" ng-click="setIndex($index)" href="#" data-reveal-id="updateProjectModal">Update</button>
                <a ng-if="userInfo.is_admin" ng-click="deleteProject(project.name)" class="button alert">Remove</a>
-->
                        <a href="#" ng-click="registerProject(project.name, username, project.deadline)" class="button success">Register</a>
                    </div>
                </div>
            </div>
        </div>

        <!-- close the off-canvas menu -->
        <a class="exit-off-canvas"></a>

    </div>
</div>

<div id="projectModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
            <div class="content" data-section-content>
                <p>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="signup-panel">
                                <p class="welcome">Create project</p>
                                <form name="projectForm" novalidate>

                                    <div class="row collapse">
                                        <p>Name</p>
                                        <div class="small-10  columns">
                                            <input type="text" name="name" ng-model="name" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Description</p>
                                        <div class="small-10  columns">
                                            <input type="text" name="description" ng-model="description" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Set deadline</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <span style="color:red" ng-show="
                        date_is_invalid(deadline.year, deadline.month, deadline.day) === false">
                        Bad Date! Choose another one.</span>
                                    </span>
                                    <br>
                                    <br>
                                    <button ng-disabled="projectForm.name.$error.required ||
                                             projectForm.description.$error.required ||
                                             date_is_invalid(deadline.year, deadline.month, deadline.day) === false" ng-click="createProject(name, deadline, description)" class="button">
                                        Create</button>
                                </form>
                                <span style="color:red" ng-show="regError">
                        Project creation error!
                    </span>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>


<div id="updateProjectModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
            <div class="content" data-section-content>
                <p>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="signup-panel">
                                <p class="welcome">Update project {{ projects[index].name }}</p>
                                <form name="updateForm" novalidate>
                                    <div class="row collapse">
                                        <div class="small-2  columns">
                                            <span class="prefix"><i class="fi-torso"></i></span>
                                        </div>
                                        <div class="small-10  columns">
                                            <input type="text" name="name" ng-model="projectsCopy[index].name" value="projectsCopy[index].name" required>
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="small-2 columns">
                                            <span class="prefix"><i class="fi-mail"></i></span>
                                        </div>
                                        <div class="small-10  columns">
                                            <input type="text" name="description" ng-model="projectsCopy[index].description" value="projectsCopy[index].description" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Set deadline</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <span style="color:red" ng-show="
                        date_is_invalid(deadline.year, deadline.month, deadline.day) === false">
                        Bad Date! Choose another one.</span>
                                    </span>
                                    <br>
                                    <br>
                                    <button ng-disabled="updateForm.name.$error.required ||
                                             updateForm.description.$error.required ||
                                             deadline.year === undefined || deadline.month === undefined || deadline.day === undefined ||
                                             date_is_invalid(deadline.year, deadline.month, deadline.day) === false" ng-click="updateProject(projectsCopy[index].name, projects[index].name, deadline, projectsCopy[index].description)" class="button">
                                        Update</button>
                                </form>
                                <span style="color:red" ng-show="regError">
                        Update error!
                    </span>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript">
    $(document).foundation();
</script>
