<a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

<!-- Off Canvas Menu -->
<aside class="left-off-canvas-menu">

  <div class="icon-bar vertical five-up">
  <a class="item" ui-sref="dashboard" ui-sref-active="current">
    <i class="fi-home"></i>
    <label>Home</label>
  </a>
  <a class="item" ui-sref="projects" ui-sref-active="current">
    <i class="fi-thumbnails"></i>
    <label>Projects</label>
  </a>
  <a class="item" ui-sref="forum" ui-sref-active="current">
    <i class="fi-comments"></i>
    <label>Forum</label>
  </a>
  <a class="item">
    <i class="fi-alert"></i>
    <label>Tickets</label>
  </a>
</div>

</aside>