<a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a>

<!-- Off Canvas Menu -->
<aside class="left-off-canvas-menu">

  <div class="icon-bar vertical five-up">
  <a class="item" ui-sref="dashboard" ui-sref-active="current">
    <i class="fi-home"></i>
    <label>{{ 'HOME' | translate }}</label>
  </a>
  <a class="item" ui-sref="users" ui-sref-active="current">
   <i class="fi-results-demographics"></i>
    <label>Admin</label>
  </a>
  <a class="item" ui-sref="projects" ui-sref-active="current">
    <i class="fi-thumbnails"></i>
    <label>{{ 'PROJECTS' | translate }}</label>
  </a>
  <a class="item" ui-sref="forum" ui-sref-active="current">
    <i class="fi-comments"></i>
    <label>Forum</label>
  </a>
  <a class="item" ui-sref="tickets" ui-sref-active="current">
    <i class="fi-alert"></i>
    <label>Tickets</label>
  </a>
  <a class="item" ui-sref="profile" ui-sref-active="current">
    <i class="fi-torsos-all"></i>
    <label>Users</label>
  </a>
</div>

</aside>