<link href='http://cdnjs.cloudflare.com/ajax/libs/foundicons/3.0.0/foundation-icons.css' rel='stylesheet' type='text/css'>

<div class="off-canvas-wrap move-right" data-offcanvas>
    <div class="inner-wrap">

        <a class="left-off-canvas-toggle" href="#"><i class="fi-list"></i></a> 
        <sidebar-admin ng-if="userInfo.is_admin"></sidebar-admin>
        <sidebar-user ng-if="!userInfo.is_admin"></sidebar-user>

        <!-- main content goes here -->
        <header class="row">
          <div class="small-12 columns">
            <h2 class="h2-center">User rights administration {{ userInfo.username }}</h2>
          </div>
        </header>
        
        
        <div class="row">
          <div class="callout-card radius primary medium-12 medium-pull-12 columns back-card">
            <br>
            <h2 style="padding-left:15px;">Users List</h2>
            <br>

          </div>
        </div>
    </div>
</div>