<div class="row">
    <div class="callout-card radius primary medium-12 medium-pull-12 columns back-card">
        <br>
        <h2 style="padding-left:15px;">{{ 'PROJECTS' | translate }}</h2>
        <button ng-if="userInfo.is_admin" href="#" data-reveal-id="projectModal">{{ 'CREATEPROJECT' | translate }}</button>
        <br>

        <div class="large-12 medium-12 small-12 columns">
            <div class="panel callout large-12 medium-12 small-12 columns end" ng-repeat="project in allProjects">
                <div class="callout-card-content">
                    <h3 class="lead">{{ project.name }}</h3>
                    <p>Registration opens : {{ project.registration_start | date:'medium'}} and closes : {{ project.registration_end | date:'medium'}}</p>
                    <p>Module begins : {{ project.start | date:'medium'}} and ends : {{ project.deadline | date:'medium'}}</p>
                    <p>Max students : {{ project.max_size }} | Credits : {{ project.credits }}</p>
                    <p>Description : {{ project.description }}</p>
                </div>
                <button class="button info" ng-if="userInfo.is_admin" ng-click="setIndex($index)" href="#" data-reveal-id="updateProjectModal">{{ 'UPDATE' | translate }}</button>
                <a ng-if="userInfo.is_admin" ng-click="deleteProject(project.name)" class="button alert">{{ 'REMOVE' | translate }}</a>
                <button ng-if="userInfo.is_admin" href="#" ng-click="setCategory(project.name)" data-reveal-id="activityModal">Create project in {{ project.name }}</button>
                <br>
                <div class="callout-card radius large-4 medium-4 small-4 columns end" ng-repeat="proj in project.activities">
                    <div class="callout-card-content">
                        <h3 class="lead">{{ proj.name }}</h3>
                        <p>Registration opens : {{ proj.registration_start | date:'medium'}} and closes : {{ proj.registration_end | date:'medium'}}</p>
                        <p>Module begins : {{ proj.start | date:'medium'}} and ends : {{ proj.deadline | date:'medium'}}</p>
                        <p>Max students : {{ proj.max_size }} | Credits : {{ proj.credits }}</p>
                        <p>Description : {{ proj.description }}</p>
                        <p>Subject : <a target="_blank" href="http://localhost:3000/assets/subjects/{{proj.subject}}">{{ proj.subject }}</a></p>
                    </div>
                    <button class="button small info" ng-if="userInfo.is_admin" ng-click="setIndex($index)" href="#" data-reveal-id="updateProjectModal">{{ 'UPDATE' | translate }}</button>
                    <a ng-if="userInfo.is_admin" ng-click="deleteActivity(proj.name, project.name)" class="button small alert">{{ 'REMOVE' | translate }}</a>
                    <a ng-if="proj.bareme.length == 0" ng-click="setProject(proj.name, project.name); setPreview(proj.name);" class="button small" data-reveal-id="baremeModal">Create Bareme</a>
                    <a ng-if="proj.bareme.length > 0" ng-click="setProject(proj.name, project.name); setView(proj.bareme);" class="button small success" data-reveal-id="updateBaremeModal">Update Bareme</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="projectModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
            <div class="content" data-section-content>
                <p>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="signup-panel">
                                <p class="welcome">{{ 'CREATEPROJECT' | translate }}</p>
                                <form name="projectForm" novalidate>

                                    <div class="row collapse">
                                        <p>Name</p>
                                        <div class="small-10  columns">
                                            <input type="text" name="name" ng-model="name" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Description</p>
                                        <div class="small-10  columns">
                                            <input type="text" name="description" ng-model="description" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Module credits</p>
                                        <div class="small-10  columns">
                                            <input type="number" name="credits" ng-model="credits" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Max students</p>
                                        <div class="small-10  columns">
                                            <input type="number" name="size" ng-model="size" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Registration start date</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regStart.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regStart.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regStart.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Registration close date</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regClose.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regClose.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regClose.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Module start date</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="start.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="start.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="start.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>{{ 'DEADLINE' | translate }}</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <span style="color:red" ng-show="date_is_invalid(regStart, regClose, start, deadline) === false">
                        {{ 'BADDATE' | translate }}</span>
                                    </span>
                                    <br>
                                    <br>
                                    <button ng-disabled="projectForm.name.$error.required ||
                                                         projectForm.description.$error.required ||
                                                         projectForm.credits.$error.required ||
                                                         projectForm.size.$error.required ||
                                                         date_is_invalid(regStart, regClose, start, deadline) === false" ng-click="createProject(name, credits, size, regStart, regClose, start, deadline, description)" class="button">
                                        {{ 'CREATE' | translate }}</button>
                                </form>
                                <span style="color:red" ng-show="regError">
                        {{ 'PROJECTERROR' | translate }}
                    </span>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="activityModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
            <div class="content" data-section-content>
                <p>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="signup-panel">
                                <p class="welcome">Create project in {{ moduleName }}</p>
                                <form name="activityForm" novalidate>

                                    <div class="row collapse">
                                        <p>Name</p>
                                        <div class="small-10  columns">
                                            <input type="text" name="name" ng-model="name" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Description</p>
                                        <div class="small-10  columns">
                                            <input type="text" name="description" ng-model="description" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Max students</p>
                                        <div class="small-10  columns">
                                            <input type="number" name="size" ng-model="size" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>groups size</p>
                                        <div class="small-10  columns">
                                            <input type="number" name="groupSize" ng-model="groupSize" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Number of correction peers</p>
                                        <div class="small-10  columns">
                                            <input type="number" name="peerSize" ng-model="peerSize" required>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>category</p>
                                        <div class="large-12 small-12 columns">
                                            <select name="category" ng-model="category" required>
                                                <option value="exam">Exam</option>
                                                <option value="project">Project</option>
                                                <option value="td">TD</option>
                                            </select>
                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <div class="large-10 columns">
                                            <p style="vertical-align: -webkit-baseline-middle;">Automatic groups?
                                                <input style="vertical-align: -webkit-baseline-middle;" ng-disabled="size < 2 || activityForm.size.$error.required" name="automatic" ng-model="automatic" uid="checkbox1" type="checkbox" required>
                                            </p>

                                        </div>
                                    </div>

                                    <div class="row collapse">
                                        <p>Upload subject</p>
                                        <button style="margin-left:0px" class="button tiny" type="file" ngf-select="uploadFiles($file, $invalidFiles)" accept="application/pdf" ngf-max-height="1000" ngf-max-size="10MB">
                                            Select File</button>
                                        <p>{{f.name}} {{errFile.name}} {{errFile.$error}} {{errFile.$errorParam}}</p>
                                        {{errorMsg}}
                                    </div>

                                    <div class="row">
                                        <p>Registration start date</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regStart.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regStart.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="regStart.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Registration close date</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="regStart.year == undefined || regStart.month == undefined || regStart.day == undefined" ng-model="regClose.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="regStart.year == undefined || regStart.month == undefined || regStart.day == undefined" ng-model="regClose.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="regStart.year == undefined || regStart.month == undefined || regStart.day == undefined" ng-model="regClose.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Project start date</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="regClose.year == undefined || regClose.month == undefined || regClose.day == undefined" ng-model="start.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="regClose.year == undefined || regClose.month == undefined || regClose.day == undefined" ng-model="start.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="regClose.year == undefined || regClose.month == undefined || regClose.day == undefined" ng-model="start.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>Project deadline</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="start.year == undefined || start.month == undefined || start.day == undefined" ng-model="deadline.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="start.year == undefined || start.month == undefined || start.day == undefined" ng-model="deadline.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-disabled="start.year == undefined || start.month == undefined || start.day == undefined" ng-model="deadline.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <span style="color:red" ng-show="date_is_invalid(regStart, regClose, start, deadline) === false">
                                    {{ 'BADDATE' | translate }}</span>
                                    <br>
                                    <br>
                                    <button ng-disabled="activityForm.name.$error.required ||
                                                 activityForm.description.$error.required ||
                                                 activityForm.size.$error.required ||
                                                 activityForm.groupSize.$error.required ||
                                                 activityForm.peerSize.$error.required ||
                                                 activityForm.category.$error.required ||
                                                 groupSize <= 0 ||
                                                 peerSize <= 0 ||
                                                 size <= 0 ||
                                                 f == undefined ||
                                                 date_is_invalid(regStart, regClose, start, deadline) === false ||
                                                 deadline.day == undefined || deadline.year == undefined || deadline.month == undefined" ng-click="createActivity(name, size, groupSize, peerSize, category, automatic, regStart, regClose, start, deadline, description, moduleName, f)" class="button">
                                        {{ 'CREATE' | translate }}</button>
                                </form>
                                <span style="color:red" ng-show="regError">
                            {{ 'PROJECTERROR' | translate }}
                        </span>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="updateProjectModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
            <div class="content" data-section-content>
                <p>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="signup-panel">
                                <p class="welcome">{{ 'UPDATEPROJECT' | translate }} {{ projects[index].name }}</p>
                                <form name="updateForm" novalidate>
                                    <div class="row collapse">
                                        <div class="small-2  columns">
                                            <span class="prefix"><i class="fi-torso"></i></span>
                                        </div>
                                        <div class="small-10  columns">
                                            <input type="text" name="name" ng-model="projectsCopy[index].name" value="projectsCopy[index].name" required>
                                        </div>
                                    </div>
                                    <div class="row collapse">
                                        <div class="small-2 columns">
                                            <span class="prefix"><i class="fi-mail"></i></span>
                                        </div>
                                        <div class="small-10  columns">
                                            <input type="text" name="description" ng-model="projectsCopy[index].description" value="projectsCopy[index].description" required>
                                        </div>
                                    </div>

                                    <div class="row">
                                        <p>{{ 'DEADLINE' | translate }}</p>
                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.year">
                                                    <option ng-repeat="year in years" value="{{year}}">{{year}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.month">
                                                    <option ng-repeat="month in months" value="{{month}}">{{month}}</option>
                                                </select>
                                            </label>
                                        </div>

                                        <div class="large-4 columns">
                                            <label>
                                                <select ng-model="deadline.day">
                                                    <option ng-repeat="day in days" value="{{day}}">{{day}}</option>
                                                </select>
                                            </label>
                                        </div>
                                    </div>
                                    <span style="color:red" ng-show="
                        date_is_invalid(deadline.year, deadline.month, deadline.day) === false">
                        {{ 'BADDATE' | translate }}</span>
                                    </span>
                                    <br>
                                    <br>
                                    <button ng-disabled="updateForm.name.$error.required ||
                                             updateForm.description.$error.required ||
                                             deadline.year === undefined || deadline.month === undefined || deadline.day === undefined ||
                                             date_is_invalid(deadline.year, deadline.month, deadline.day) === false" ng-click="updateProject(projectsCopy[index].name, projects[index].name, deadline, projectsCopy[index].description)" class="button">
                                        {{ 'UPDATE' | translate }}</button>
                                </form>
                                <span style="color:red" ng-show="regError">
                        {{ 'PROJECTERROR' | translate }}
                    </span>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="baremeModal" style="width:80%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
            <div class="content" data-section-content>
                <p>
                    <div class="row">
                        <div class="large-12 columns">
                            <div class="signup-panel">
                                <p class="welcome">Create a Bareme for {{ projectName }}</p>
                                <form name="baremeForm" novalidate>
                                    <div class="row collapse">
                                        <p>Bareme Preview</p>
                                        <div class="small-12  columns">
                                            <h3>Bareme for {{ preview.project_name }}</h3>
                                        </div>
                                        <br>
                                        <br>
                                        <br>
                                        <div class="small-12 columns" ng-show="preliminary_show == true">
                                            <p><strong>Preliminaries</strong>
                                                <br> Is there a working and functionnal project in the directory that passes all the basic error checks without crashing or stopping unexpectedly?</p>
                                            <div class="button-groups" data-grouptype="OR">
                                                <button style="margin-left:0px" href="#" class="small button success radius">OK</button>
                                                <button style="margin-left:0px" href="#" class="small button alert radius">KO</button>
                                            </div>
                                        </div>
                                        <div class="small-12 columns" ng-repeat="question in questions">
                                            <p><strong>{{ $index + 1 }}) {{ question.title }}</strong><br>
                                                {{ question.body }}
                                            </p>
                                            <div ng-switch on="question.notation">
                                                <div class="button-groups" data-grouptype="OR" ng-switch-when="Red">
                                                    <button style="margin-left:0px" href="#" class="small button success radius">OK</button>
                                                    <button style="margin-left:0px" href="#" class="small button alert radius">KO</button>
                                                </div>
                                                <div ng-click="setWidth($index)" ng-switch-when="Blue">
                                                    <div class="progress prog{{$index}}">
                                                        <span class="meter1 blue display elem{{$index}} " style="width:{{ question.value }}%">
                                                            <p style="top:30%" class="percent">{{ question.value }}%</p>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="small-12 columns" ng-show="bonus == true">
                                            <p><strong>Bonus</strong>
                                                <br> Please rate any bonus that you find interesting or relevant to the project.
                                            </p>
                                            <div class="clickable">

                                                <div class="progress">
                                                    <span class="meter blue display meter" style="width:{{ newValue }}%">
                                                <p class="percent">{{ newValue }}%</p>
                                            </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <hr />
                                    <div class="switch round">
                                        <p>Preliminary tests?</p>
                                        <input id="on-off" type="checkbox" name="preliminary_show" ng-model="preliminary_show">
                                        <label for="on-off">
                                            <span class="switch-on">Yes</span>
                                            <span class="switch-off">No</span>
                                        </label>
                                    </div>
                                    <div class="switch round">
                                        <p>Bonus?</p>
                                        <input id="yes-no" type="checkbox" name="bonus" ng-model="bonus">
                                        <label for="yes-no">
                                            <span class="switch-on">Yes</span>
                                            <span class="switch-off">No</span>
                                        </label>
                                    </div>
                                    <hr />
                                    <div>
                                        <button class="small" ng-click="openQuestionBox(true)" ng-show="displayQuestionBox == false">Add question</button>
                                        <form novalidate>
                                            <div class="row collapse" ng-show="displayQuestionBox == true">
                                                <div class="large-12 small-12 columns">
                                                    <div class="row collapse">
                                                        <p style="margin-bottom:0.25rem;">Title</p>
                                                        <div class="small-6  columns">
                                                            <input type="text" name="title" ng-model="title" required>
                                                        </div>
                                                    </div>
                                                    <div class="row collapse">
                                                        <p style="margin-bottom:0.25rem;">Description</p>
                                                        <div class="small-12 columns">
                                                            <textarea id="commentBox" name="body" ng-model="body" placeholder="Type a few words..." required></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="row collapse">
                                                        <div class="large-6 columns">
                                                            <p style="margin-bottom:0.25rem;">Notation</p>
                                                            <input type="radio" name="notation" ng-model="notation" value="Red" id="pokemonRed" required><label for="pokemonRed" style="margin-left: -10.5px;">yes/no</label>
                                                            <input type="radio" name="notation" ng-model="notation" value="Blue" id="pokemonBlue" required><label for="pokemonBlue" style="margin-left: -10.5px;">progress bar</label>
                                                        </div>
                                                    </div>
                                                    <a style="margin-left:0;"
                                                       ng-disabled="baremeForm.body.$error.required ||
                                                                    baremeForm.title.$error.required ||
                                                                    baremeForm.notation.$error.required"
                                                       class="button small"
                                                       ng-click="addQuestion(title, body, notation)">go</a>
                                                    <a style="margin-left:0;" ng-click="openQuestionBox(false)" class="button small">cancel</a>
                                                </div>
                                            </div>
                                        </form>
                                    </div>
                                    <br>
                                    <br>
                                    <div style="text-align:center" class="row collapse">
                                        <button style="margin-left:0px" ng-click="createBareme(moduleName, preview.project_name, questions, preliminary_show, bonus)" class="button">
                                            Create bareme</button>
                                        <span style="color:red" ng-show="regError">{{ 'PROJECTERROR' | translate }}</span>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </p>
            </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<div id="updateBaremeModal" style="width:80%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
            <div class="content" data-section-content>
                <p>
                <div class="row">
                    <div class="large-12 columns">
                        <div class="signup-panel">
                            <p class="welcome">Create a Bareme for {{ projectName }}</p>
                                <div class="row collapse">
                                    <p>Bareme Preview</p>
                                    <div class="small-12  columns">
                                        <h3>Bareme for {{ preview.project_name }}</h3>
                                    </div>
                                    <br>
                                    <br>
                                    <br>
                                    <div class="small-12 columns" ng-show="preliminary_show == true">
                                        <p><strong>Preliminaries</strong>
                                            <br> Is there a working and functionnal project in the directory that passes all the basic error checks without crashing or stopping unexpectedly?</p>
                                        <div class="button-groups" data-grouptype="OR">
                                            <button style="margin-left:0px" href="#" class="small button success radius">OK</button>
                                            <button style="margin-left:0px" href="#" class="small button alert radius">KO</button>
                                        </div>
                                    </div>
                                    <div class="small-12 columns" ng-repeat="question in questions">
                                        <p><strong>{{ $index + 1 }}) {{ question.title }}</strong><br>
                                            {{ question.body }}
                                        </p>
                                        <div ng-switch on="question.notation">
                                            <div class="button-groups" data-grouptype="OR" ng-switch-when="Red">
                                                <button style="margin-left:0px" href="#" class="small button success radius">OK</button>
                                                <button style="margin-left:0px" href="#" class="small button alert radius">KO</button>
                                            </div>
                                            <div ng-click="setWidth($index)" ng-switch-when="Blue">
                                                <div class="progress prog{{$index}}">
                                                    <span class="meter1 blue display elem{{$index}} " style="width:{{ question.value }}%">
                                                        <p class="percent">{{ question.value }}%</p>
                                                    </span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="small-12 columns" ng-show="bonus == true">
                                        <p><strong>Bonus</strong>
                                            <br> Please rate any bonus that you find interesting or relevant to the project.
                                        </p>
                                        <div style="width:100%" class="clickable">
                                            <div style="width:100%" class="progress">
                                                <span class="meter blue display meter" style="width:{{ newValue }}%">
                                                    <p class="percent">{{ newValue }}%</p>
                                                </span>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <br>
                                <hr />

                                <div class="switch round">
                                    <p>Preliminary tests?</p>
                                    <input id="on-off" type="checkbox" name="preliminary_show" ng-model="preliminary_show">
                                    <label for="on-off">
                                        <span class="switch-on">Yes</span>
                                        <span class="switch-off">No</span>
                                    </label>
                                </div>
                                <div class="switch round">
                                    <p>Bonus?</p>
                                    <input id="yes-no" type="checkbox" name="bonus" ng-model="bonus">
                                    <label for="yes-no">
                                        <span class="switch-on">Yes</span>
                                        <span class="switch-off">No</span>
                                    </label>
                                </div>
                                <hr />
                                <div>
                                    <button class="small" ng-click="openQuestionBox(true)" ng-show="displayQuestionBox == false">Add question</button>
                                    <form novalidate>
                                        <div class="row collapse" ng-show="displayQuestionBox == true">
                                            <div class="large-12 small-12 columns">
                                                <div class="row collapse">
                                                    <p style="margin-bottom:0.25rem;">Title</p>
                                                    <div class="small-6  columns">
                                                        <input type="text" name="title" ng-model="title" required>
                                                    </div>
                                                </div>
                                                <div class="row collapse">
                                                    <p style="margin-bottom:0.25rem;">Description</p>
                                                    <div class="small-12 columns">
                                                        <textarea id="commentBox" name="body" ng-model="body" placeholder="Type a few words..." required></textarea>
                                                    </div>
                                                </div>
                                                <div class="row collapse">
                                                    <div class="large-6 columns">
                                                        <p style="margin-bottom:0.25rem;">Notation</p>
                                                        <input type="radio" name="notation" ng-model="notation" value="Red" id="pokemonRed" required><label for="pokemonRed" style="margin-left: -10.5px;">yes/no</label>
                                                        <input type="radio" name="notation" ng-model="notation" value="Blue" id="pokemonBlue" required><label for="pokemonBlue" style="margin-left: -10.5px;">progress bar</label>
                                                    </div>
                                                </div>
                                                <a style="margin-left:0;"
                                                   ng-disabled="baremeForm.body.$error.required ||
                                                                baremeForm.title.$error.required ||
                                                                baremeForm.notation.$error.required"
                                                   class="button small"
                                                   ng-click="addQuestion(title, body, notation)">go</a>
                                                <a style="margin-left:0;" ng-click="openQuestionBox(false)" class="button small">cancel</a>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                                <br>
                                <br>
                                <div style="text-align:center" class="row collapse">
                                    <button style="margin-left:0px" ng-click="updateBareme(moduleName, preview.project_name, questions, preliminary_show, bonus)" class="button">
                                        Update bareme</button>
                                    <span style="color:red" ng-show="regError">{{ 'PROJECTERROR' | translate }}</span>
                                </div>
                        </div>
                    </div>
                </div>
                </p>
            </div>
        </section>
</div>
<a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript">
    $(document).foundation();
</script>
