<div class="row">
      <div class="callout-card radius primary medium-12 medium-pull-12 columns back-card">
        <br>
        <h2 style="padding-left:15px;">Ticket Administration{{ setUsername(userInfo.username) }}</h2> 
        <br>
        <h2>categories {{ ticketCategories }}</h2>
          <button ng-if="userInfo.is_admin" href="#" data-reveal-id="ticketCategoryModal">Create a Category</button>
        <div class="row">
            <div class="small-9 columns small-centered">
                
                <article class="event">
                    <div class="event-date">
                        <p class="event-month">Sept</p>
                        <p class="event-day">18</p>
                    </div>
                    
                    <div class="event-desc">
                        <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
                        <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Altlanta</p>
                        <a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">RSVP &amp; Details</a>
                    </div>
                </article>
                
                <hr>
                
                <article class="event">
                    <div class="event-date">
                        <p class="event-month">Oct</p>
                        <p class="event-day">21</p>
                    </div>
                    <div class="event-desc">
                        <h4 class="event-desc-header">Day in the Life of Foundation for Apps</h4>
                        <p class="event-desc-detail"><span class="event-desc-time"></span>BDConf - Washington, DC</p>
                        <a href="http://bdconf.com/speakers/brandon-arnold/" class="rsvp button">RSVP &amp; Details</a>
                    </div>
                </article>
            </div>
        </div>
        
          <div class="large-12 medium-12 small-12 columns">
        </div>
      </div>
</div>

<div id="ticketCategoryModal" style="width:30%" class="reveal-modal" data-reveal aria-labelledby="sign up" aria-hidden="true" role="dialog">
    <div class="section-container tabs" data-section="tabs">
        <section class="active">
          <div class="content" data-section-content>
            <p>
              <div class="row">
                <div class="large-12 columns">
                  <div class="signup-panel">
                    <p class="welcome">Create category</p>
                    <form name="ticketCategoryForm" novalidate>
                      
                      <div class="row collapse">
                        <p>Name</p>
                        <div class="small-10  columns">     
                          <input type="text" name="name" ng-model="name" required>   
                        </div>
                      </div>
        
                      <br><br>
                      <button ng-disabled="ticketCategoryForm.name.$error.required" ng-click="createCategory(name)" class="button">
                            Create
                      </button>
                    </form>
                    <span style="color:red" ng-show="regError">
                        Category creation error!
                    </span>
                  </div>
                </div>
               </div></p>
          </div>
        </section>
    </div>
    <a class="close-reveal-modal" aria-label="Close">&#215;</a>
</div>

<script type="text/javascript"> 
            $(document).foundation();
</script>